@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222 15% 17%;
    --foreground: 0 0% 87%;
    --muted: 222 12% 21%;
    --muted-foreground: 222 12% 71%;
    --popover: 222 15% 14%;
    --popover-foreground: 0 0% 97%;
    --card: 222 15% 15%;
    --card-foreground: 0 0% 92%;
    --border: 222 5% 22%;
    --input: 222 5% 25%;
    --primary: 170 100% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 75%;
    --secondary-foreground: 170 30% 15%;
    --accent: 222 15% 32%;
    --accent-foreground: 222 15% 92%;
    --destructive: 5 83% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 170 100% 35%;
    --chart-1: 170 100% 35%;
    --chart-2: 170 30% 75%;
    --chart-3: 222 15% 32%;
    --chart-4: 170 30% 78%;
    --chart-5: 170 103% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 15% 17%;
    --foreground: 0 0% 87%;
    --muted: 222 12% 21%;
    --muted-foreground: 222 12% 71%;
    --popover: 222 15% 14%;
    --popover-foreground: 0 0% 97%;
    --card: 222 15% 15%;
    --card-foreground: 0 0% 92%;
    --border: 222 5% 22%;
    --input: 222 5% 25%;
    --primary: 170 100% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 75%;
    --secondary-foreground: 170 30% 15%;
    --accent: 222 15% 32%;
    --accent-foreground: 222 15% 92%;
    --destructive: 5 83% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 170 100% 35%;
    --chart-1: 170 100% 35%;
    --chart-2: 170 30% 75%;
    --chart-3: 222 15% 32%;
    --chart-4: 170 30% 78%;
    --chart-5: 170 103% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
